
/*MATERIAL UTILIZADO NESTE CÓDIGO:
Thanks to:
Chris Smith (Sliding Diagonals Background Effect)
*/


body{
    background-color:#6A4C93;
    font-family: 'Poppins', sans-serif;
}

.ct-inicio{
    margin: auto;
    padding: auto;
    background-color: whitesmoke;
    
}


.titulo-roxo{
    color: #6A4C93;
    font-size: 7rem; text-align:left;
}

/*CARD*/



#pills-tab{
    background-color: #CBAEEF;
    color: black;
}

.personalize{
    background-color: #f2eafd;
}
/*FIM CARD */

.footer{
    background-color: #53406d ;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}

.pills-img{
  width: 200px; 
  margin-left: 30%;
}

.slogan{
  text-align: left; margin-left:5%;
}

/*Fundo*/

  
  .bg {
    animation:slide 35s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(126, 60, 134) 50%, rgb(255, 255, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:50s;
  }
  
  .bg3 {
    animation-duration:50s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/*Fundo*/

.personalize{
  width: 80%;
}



.github{
  width: 10%;
}

.img-equipe{
  width: 50%;
}

.card{
  background-color: transparent;
  border: none;
  align-items: center;
  text-align: center;
}


/*RESPONSIVO*/
@media only screen and (max-width: 600px) {
 
  p{
    font-size: 2rem;

  }
  h1,h2{
    font-size: 3rem;
    padding-top:2rem;
  }

  h3, h4,h5,h6{
    font-size: 2rem;
    padding-top:2rem;
  }

  .titulo-roxo{
    font-size: 3.0rem; 
    max-width: fit-content;

  }

  .ct-inicio{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: whitesmoke;
    
}



.nav{
  max-width: 150%;
}

.tab-pane p{
 font-size: 0.68rem;
}


.pills-img{
  max-width: 100%; 
  margin-left: 0%;
}

.titulo-usar{
  font-size: 2rem;
  padding-top: 2rem;
}
h1,h2,h3,h4,h5{
  text-align: left;
}

.btn img{
  max-width: 100%;
}
.img-celular{
  max-width: 100%;
  padding-top: 2.5rem;
}

.slogan{
  text-align: center; margin-left:0%;
}
  
 
.github{
  max-width: 15%;
}

.img-equipe{
  max-width: 80%;
}

.footer{
  background-color: #53406d ;
  color: white;
  text-align: center;
  max-width: 100%;
  font-size: 1rem;
}

.div-margin{
  margin: 2rem;
}

.div-margin-2{
  margin-left: 1.8rem;
  
  padding-top: 0rem;
}

.titulo-fatec{
  font-size: 1rem;
}

.bt-instalar{
  width: 80%;
  margin-left:1.0rem;
}

.titulo-equipe{
  font-size: 1.8rem;
  text-align: center;
}

.card-title{
  font-size: 1.5rem;
  text-align: center;
}
}



/*RESPONSIVO*/



