
/*MATERIAL UTILIZADO NESTE CÓDIGO:
Thanks to:
Chris Smith (Sliding Diagonals Background Effect)
*/


body{
    background-color:#6A4C93;
    font-family: 'Poppins', sans-serif;
}

.ct-inicio{
    margin: auto;
    padding: auto;
    background-color: whitesmoke;
    
}


.titulo-roxo{
    color: #6A4C93;
}

/*CARD*/



#pills-tab{
    background-color: #CBAEEF;
    color: black;
}

.personalize{
    background-color: #f2eafd;
}
/*FIM CARD */

.footer{
    background-color: #53406d ;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}



/*Fundo*/

  
  .bg {
    animation:slide 35s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(126, 60, 134) 50%, rgb(255, 255, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:50s;
  }
  
  .bg3 {
    animation-duration:50s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/*Fundo*/